@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* * {
  max-width: 100vw !important;
  overflow-x: clip !important;
} */

@layer base {
  body {
    line-height: 1.1; /* 100% */
  }
}

@layer utilities {
  .body-lock {
    overflow: hidden;
    padding-right: 22px;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

[data-field] {
  scroll-margin-top: 95px;
}

@media (min-width: 1024px) {
  [data-field] {
    scroll-margin-top: 130px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f0f0f0;
  box-sizing: border-box;
  min-height: 100vh;
}
