.cardContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .news {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}
