.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 32px;
  padding: 125px 20px 50px 20px;
  min-height: 100vh;
  background-color: white;
}

.imageWrapper {
  position: relative;
}

@media (min-width: 1024px) {
  .wrapper {
    padding-top: 180px;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ed1846;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.arrow:hover {
  background: #c2143a;
}

.leftArrow {
  left: 8px;
}
.rightArrow {
  right: 8px;
}

@media (min-width: 640px) {
  .imageWrapper:hover .arrow {
    opacity: 1;
    pointer-events: auto;
  }
}

.imageSection {
  flex: 1;
  max-width: 470px;
  padding-bottom: 10px;
}

.mainImage {
  width: 100%;
  height: clamp(290px, 25vw + 190px, 650px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  object-fit: contain;
}

@media (min-width: 1280px) {
  .imageSection {
    max-width: 600px;
    width: 600px;
  }

  .mainImage {
    height: 650px;
    width: 600px;
    object-fit: contain;
  }
}

.thumbList {
  display: flex;
  gap: 8px;
  padding: 15px 0 10px 0;
  overflow-x: auto;
  overflow-y: hidden;

  /* Отключает «вертикальное» поведение скролла для тач-устройств и колесика */
  touch-action: pan-x;
  /* чтобы не «пробрасывать» перевыполнение на родителя */
  overscroll-behavior: contain;
  /* IE, Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

@media (min-width: 1280px) {
  .thumbList {
    margin-top: 5px;
    padding: 10px;
  }
}

/* Chrome, Safari, Opera */
.thumbList::-webkit-scrollbar {
  display: none;
}

.thumb {
  flex: 0 0 auto;
  width: 55px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.25);
}

@media (min-width: 640px) {
  .thumb {
    width: 90px;
    height: 120px;
  }
}

.thumb.active {
  border-color: #000;
}

.info {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 640px) {
  .info {
    gap: 30px;
  }
}

@media (min-width: 1024px) {
  .info {
    max-width: 400px;
  }
}

.title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .title {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .title {
    margin-bottom: 20px;
  }
}

.price {
  font-size: 18px;
  font-weight: 500;
}

@media (min-width: 640px) {
  .price {
    font-size: 26px;
  }
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.select {
  height: 40px;
  width: 100%;
  border: 1px solid #9f9f9f;
  background-color: #e7e7e7;
  border-radius: 4px;
  font-size: 14px;
  appearance: none;
  color: #9f9f9f;
}

.buyButton {
  width: 100%;
  max-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ed1846;
  color: white;
  font-size: 26px;
  padding: 12px 24px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s;
}

@media (min-width: 640px) {
  .buyButton {
    max-height: 52px;
  }
}

.buyButton:hover {
  background: #d1153e;
}

.description {
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
  line-height: 1.4;
  white-space: pre-wrap;
}
