.policyPage {
  padding-top: 120px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("/images/main/rug-bg.webp");
  background-position: center;
  min-height: 100vh;
  color: #333;
}

@media (min-width: 1024px) {
  .policyPage {
    padding-top: 150px;
  }
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
}
